
@{
    ViewBag.Title = "DrivingSchool";
}

<h2>Автошколи </h2>

<div class="container">

    <a class="btn btn-default" href="https://rta.government.bg/images/Image/rtaoldsite/profcomp/register.html">Регистър на всички автошколи в България &raquo;</a>
    
</div>