
@{
    ViewBag.Title = "ExpiryTime";
}
<br />
<div class="container">
<div class="row clearfix">
</div>
<div class="col-md-1 column">
</div>
<div class="col-md-10 column">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Времето изтече! 
            </h3>
        </div>
        <div class="panel-body">
        </div>
        <div class="panel-footer">
            <a href="@Url.Action("Load", "CategoryB")" class="btn btn-primary " role="button">Върни се обратно</a>
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary" role="button">Начало</a>
        </div>
    </div>
    <div class="col-md-1 column">
    </div>
</div>
</div>