@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Message</h2>

<p>
    Брой въпроси в листовка: 45 
</p>
<p>
    Брой листовки за тази категория: 32
</p>
<p>
    Максимален брой точки: 97
</p>
<p>
    Минимален брой точки: 87
</p>
<p>
    Време за решаване (мин): 40
</p>
<br />
<p>
    Лицата, които кандидатстват за придобиване на правоспособност за управление на МПС от категории "В", "В1" полагат теоретичен и практически изпит.
    Лицата, които желаят да управляват МПС от категория "В" с прикачено ремарке с допустима максимална маса над 750 kg, когато допустимата максимална маса на състава надвишава 3500 kg, полагат само съответния практически изпит.
    Лицата, които кандидатстват за придобиване на правоспособност за управление на МПС от категория А1, А2, А, В1, В и ВЕ и притежават правоспособност за управление на МПС от същата категория с код 78 (ограничено до превозни средства с автоматично предаване), полагат само практически изпит.
</p>

<h3>  1. Вътрешен теоретичен изпит</h3>

<p>
    След провеждане на задължителното теоретично обучение кандидатът полага вътрешен теоретичен изпит.
    Ако вътрешният теоретичен изпит не е положен успешно, кандидатът полага нов изпит.
    Ако вътрешният теоретичен изпит е положен успешно, ръководителят на учебната дейност издава на кандидата удостоверение за допускане до теоретичен изпит, ако от последното им явяване на съответния изпит или от отбелязването в информационната система на преминатото теоретично и/или практическо обучение са изминали не повече от шест месеца.

    След провеждане на задължителния минимум от учебни часове за практическо обучение кандидатът полага и вътрешен практически изпит.
    Когато вътрешният практически изпит не е положен успешно, кандидатът трябва да премине допълнително обучение съгласно изискванията на учебната документация и да положи втори вътрешен изпит.
    Когато и вторият вътрешен практически изпит не е положен успешно, на кандидата се препоръчва допълнително обучение. Ако кандидатът е вписал забележка в учебния картон, че не желае да премине това допълнително обучение, му се издава удостоверение за допускане до практически изпит без успешно положен вътрешен изпит.
    При успешно полагане на вътрешния практически изпит ръководителят на учебната дейност издава на кандидата удостоверение за допускане до практически изпит.


    Ако кандидат не се яви на теоретичен и/или практически изпит 6 месеца от издаването на съответното удостоверение или ако са изминали повече от 6 месеца от последното му явяване на съответния изпит, подлежи на вътрешни теоретични и/или практически изпити.

    Лице, което не подлежи на задължително теоретично и/или практическо обучение съгласно изискванията на учебната документация, но е положило съответните вътрешни изпити, се издава съответното удостоверение за допускане до теоретичен изпит и/или удостоверение за допускане до практически изпит.

    Когато е изминала повече от една година от успешното полагане на „официалния" теоретичен изпит, за допускане до практически изпит кандидатите трябва да положат нов теоретичен изпит. В този случай, за допускане до теоретичен изпит кандидатът подава само заявление.


    Изпита се състои от две части (теоретичен и практически изпит) и се провежда в различни дни. Теоретичният изпит се състои в решаване на тест.

</p>




<h3>  2. Официален теоретичен изпит</h3>
<p>
    Не се допускат до изпит лица без документ за самоличност и лица, които се явяват след неговото започване.
    На лицата, които не владеят български език, се осигуряват преводач на разбираем за тях език само при даване на указанията за решаване на изпитните листовки. Теоретичният изпит на лица, които не владеят български език, се провежда с електронни тестове на един от езиците, избран от кандидата. Изпълнителна агенция „Автомобилна администрация“ публикува на интернет страницата си езиците, на които може да бъде проведен теоретичният тест.

    Тестовете се решават на електронно устройство, като резултатите от изпита се отчитат автоматично.Тестовете за различните категории обхващат само темите за съответната категория.
    Тестът на всеки кандидат е индивидуален и обозначен с уникален номер.

    За всеки въпрос се отбелязват всички отговори, които кандидатът счита, че са верни. При отбелязан неверен отговор и/или при неотбелязани всички възможни верни отговора се счита, че на въпроса е отговорено неправилно;

    Всеки правилно отговорен въпрос носи допълнителни точки, към общият резултат от изпита на кандидата;

    Към всеки въпрос е посочен броят на възможните верни отговори;

    Изпитният тест се решава за време, след приключването на което кандидатът няма право да отговаря на повече въпроси от изпитният тест.

    Електронните устройства за решаване на електронни тестове осигуряват запазване на решените тестове и прилагане към тях на пет снимки в произволно избрани моменти от изпита на кандидата. Записите се съхраняват 2 години.

    Изпълнителна агенция „Автомобилна администрация“ публикува на интернет страницата си езиците, на които може да бъде проведен теоретичният тест.

    Снимките, направени в произволно избрани моменти от изпита на кандидата, към решените тестове се съхраняват 12 месеца, а снимката към изпитния протокол, заедно с протоколът за проведения изпит – 50 години.

    Успешно издържалите изпита по теория се явяват на втората, практическа част, а неиздържалите имат право да се явят отново след седем дни.


    Tеоретични изпити за получаване на шофьорска книжка се полагат само в кабинети на изпълнителната агенция “Автомобилна администрация”, които са шумоизолирани - така наречените "бели стаи".

    По време на теоретичният изпит, на кандидатите, се забранява да използват други електронни устройства освен осигурените за изпита таблети.

    Преди да заемат местата си в изпитните кабинети, кандидатите се проверяват с технически средства за наличието на електронни устройства у тях.

    Всички работни места, на които седят кандидат-шофьорите, са преградени едно от друго, така че да няма визуален контакт между изпитваните и да няма възможност за подсказване, размяна на таблети и други опити за манипулации. Всяко място е оборудвано с работна станция, камера и микрофон. Над мястото на всеки кандидат има поставено огледало с цел провеждащият изпита да следи за преписване или злоупотреба от страна на кандидата по време на изпита. В залите са монтирани системи за контрол на изпитния процес, апаратура за регистриране на сигнали от електронни устройства, както и система за автоматично известяване и записване на сигналите при тяхното засичане.

    Осигурена и специализирана мобилна техника, с която изпитващият да проверява за излъчвани сигнали от електронни устройства по време на изпита.

    ОНЛАЙН ТЕСТ (ИЗПИТНИ ЛИСТОВКИ 2021) ЗА ПОДГОТОВКА ЗА ТЕОРЕТИЧЕН ШОФЬОРСКИ ИЗПИТ ЗА КАТЕГОРИЯ В и В1
    Листовките могат да бъдат решавани в режим "ОБУЧЕНИЕ" и режим "ИЗПИТ". В режим обучение, можете да намерите пояснения и допълнителна информация относно "защо това са верните отговори".
    За категории "В" и "В1" онлайн листовките съдържат 1440 въпроса разпределени в 32 листовки. Всяка листовка (всеки изпитен тест) тест съдържа 45 въпроса. Всеки въпрос има различен брой верни отговора - от 1 до 3. За правилно решен се приема въпрос, за който са отбелязани всички възможни верни отговори. Максималният брой точки, от правилни отговори на всички изпитни въпроси, е 97. Теоретичният изпит е успешно положен, когато кандидатът има не по-малко от 87 точки.

</p>





<h3>3. Официален практически изпит</h3>

<p>
    Кандидат, преминал успешно официалния теоретичен изпит се допуска до официален практически изпит (кормуване). В случай, че кандидатът не премине успешно теоретичния изпит, за повторно и всяко следващо явяване на практически изпит преминава допълнително обучение по управление на моторно превозно средство от категорията, за която ще се явява.

    Практическият изпит на кандидатите за придобиване на правоспособност за управление на МПС от категории В1, В се провежда само по пътища в населено място.

    Практическият изпит за придобиване на права за управление на МПС от категория В с прикачено ремарке с допустима максимална маса над 750 kg, когато допустимата максимална маса на състава не надвишава 4250 kg, се провежда на учебна площадка и по пътища в населено място.

    До изпита - управление на МПС в населено място, се допускат само кандидати, издържали успешно управление на МПС на учебна площадка.

    При успешно положен изпит по управление на МПС на учебна площадка, но отрицателна оценка на управление на МПС в населено място, при всяко следващо явяване курсистът полага изпит само по управление на МПС в населено място.

    Времето за управление на МПС на пътя при практическите изпити за категории „АМ“, „А1“, „А2“, „А“, „В1“, „B“, „BE“ и „Ттм“ е не по-малко от 25 минути за всеки кандидат.

    Практическият изпит се прекратява при повторна намеса на комисията, когато действията на кандидата са опасни за другите участници в движението и при допускане на ПТП.

    Записите от практическите изпити се съхраняват три месеца, а в случай на подадена жалба от кандидата – три месеца след приключване на производството.

    При повторно или всяко следващо явяване на практически изпит, в срок до 6 месеца от последното явяване, кандидатът се допуска до изпит, ако в системата е отразено, че е преминал съответното допълнително обучение по управление на МПС.

    При повторно или всяко следващо явяване на практически изпит, когато са изминали повече от 6 месеца от последното явяване, кандидатът се допуска до изпит, ако в системата е отразено, че е преминал допълнително обучение по управление на МПС и че след изтичане на посочените срокове е положил нов вътрешен изпит.

</p>
<p>
    Моторното превозно средство, с което се провеждат практическите изпити, с изключение на мотоциклетите, е оборудвано с техническо средство за видеонаблюдение на пътя пред и на участниците в изпита, което осигурява:
    1. видимост на действията на всички участници в изпита, които са в превозното средство;
    2. видимост на пътна лента с ъгъл на заснемане не по-малък от 120°;
    3. записи на изображенията, звука, датата и часа с възможност за последващо разглеждане и прослушване на записите от съответния изпит;
    4. възможност за непрекъснат запис; при прекъсване на записа да се включва светлинна сигнализация;
    5. възможност за последващо разглеждане на маршрута по време на изпита (позициониран на интерактивна географска карта, чрез GPS координати);
    6. да се създава един файл за двете камери и звука и GPS;
    7. възможност в цифровата памет на картата да се въведе № на протокола и поредният номер на кандидата от протокола за изпит в името на файловете, генерирани по време на изпита.

</p>
<h3>
    Още
</h3>
<p>
    За първо явяване на теоретичен и/или практически изпит кандидатите се представят от учебния център, направил отбелязването в информационната система, че кандидатът е преминал съответното обучение.

    За първо явяване на теоретичен и/или практически изпит се допуска кандидатите да се представят от учебен център, различен от (провелият обучението), когато кандидатите се явяват на изпит в област, различна от тази, в която са се обучавали.

    Проверочният изпит е теоретичен.
    С проверочния изпит се оценяват знанията на лицата, на които временно е отнето свидетелството за управление на МПС за извършване на немаловажно нарушение на правилата за движение поради незнание.
    Датата за провеждане на проверочния изпит се определя при подаване на документите.

    Загуба на правоспособност
    Лице, което е загубило правоспособност по реда на чл. 157, ал. 4 от Закона за движението по пътищата (отнети всички контролни точки), не се допуска до изпит до изтичане на шестмесечния срок от предаването на свидетелството му за управление в КАТ.
</p>
