@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Message</h2>

<address>
    София 1000, ул. „Ген. Й.В. Гурко“ № 5 <br />
    e-mail: avto_a@rta.government.bg <br />
    <br />
    <abbr title="Phone">P:</abbr>
    02/940 9400 
</address>
